body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.graph .axis {
    stroke-width: 1;
}

.graph .axis .tick line {
    stroke: black;
}

.graph .axis .tick text {
    fill: black;
    font-size: 0.7em;
}

.no-text {
    display:none;
}

.graph .axis .domain {
    fill: none;
    stroke: black;
}

.graph .group {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
}

p {
    display: inline-block;
}

.legend rect {
    fill: white;
    stroke: black;
    opacity: 0.8;
}

