<!doctype html>
<title>Serial port data</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<h1>Stats</h1>
<body>
<div class="graph"></div>
<div>
    <label>
        Lower bound:
        <input type="number" id="lower-bound" min="0" max="65536">
    </label>
    <label>
        Upper bound:
        <input type="number" id="upper-bound" min="1" max="65536">
    </label>
    <button id="rescale-button">
        Rescale
    </button>
</div>
<br>
<div>
    <div>
        <label>
            Param 0
            <input type="checkbox" class="checkbox" id="0" checked/>
        </label>
        <span id="value_0"></span>
    </div>
    {% for index in indexes %}
        <div>
            <label>
                Param {{ index }}
                <input type="checkbox" class="checkbox" id="{{ index }}"/>
            </label>

            <span id="value_{{ index }}"></span>
        </div>
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
<script src="{{ url_for('static', filename='d3.legend.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='draw.js') }}"></script>
</body>